# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
!/smartbell-backend-firebase-adminsdk-s1fyk-a71cd88725.json
!/.env
